.card-box {
	box-sizing: border-box;
	width: 240px;
	height: calc(100% - 50px);
	background-color: var(--el-bg-color);
	padding: 24px;
	border-radius: 6px;
	border: 1px solid var(--el-border-color-light);
	box-shadow: 0 0 12px rgb(0 0 0 / 5%);

	.el-scrollbar {
		:deep(.el-tree) {
			height: 80%;
			overflow: auto;

			.el-tree-node__content {
				height: 33px;
			}
		}

		:deep(.el-tree--highlight-current) {
			.el-tree-node.is-current > .el-tree-node__content {
				background-color: var(--el-color-primary);
				border-radius: 6px;

				.el-tree-node__label,
				.el-tree-node__expand-icon {
					color: white;
				}

				.is-leaf {
					color: transparent;
				}
			}
		}
	}
}
